rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
      function isUpdateToFields(fields) {
          return request.resource.data.diff(resource.data).affectedKeys().hasOnly(fields);
      }
      function isShopOwner(shopId) {
        return request.auth.token.roles[shopId] == "owner";
      }
  	match /contacts/{contactId}/{documents=**} {
        allow read, update, delete: if isShopOwner(resource.data.shopId);
        allow create: if isShopOwner(request.resource.data.shopId);
    }
    match /shops/{shopId}/{documents=**} {
    	allow read: if isShopOwner(shopId);
        allow write: if false
    }
    match /profiles/{userId}/{documents=**} {
    	allow read: if request.auth.uid == userId
        allow write: if false
    }
    match /shop_requests/{requestId}/{documents=**} {
    	allow read, delete: if isShopOwner(resource.data.shopId);
        allow create: if isShopOwner(request.resource.data.shopId)
        allow update: if false
    }
    match /notifications/{token}/{documents=**} {
        allow get: if true
        allow list: if false
    	allow create, delete: if false
    	allow update: if isUpdateToFields(['viewTimestamp']);
    }
    match /notification_debug/{token}/{document=**} {
        allow read: if false
        allow write: if false
    }
    match /shop_members/{docId}/{document=**} {
        allow read: if false
        allow write: if false
    }
  }
}
