rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /contacts/{contactId}/{documents=**} {
        allow read, update, delete: if request.auth.token.roles[resource.data.shopId] == "owner"
        allow create: if request.auth.token.roles[request.resource.data.shopId] == "owner"
    }
    match /shops/{shopId}/{documents=**} {
    	allow read: if request.auth.token.roles[shopId] == "owner"
        allow write: if false
    }
    match /profiles/{userId}/{documents=**} {
    	allow read: if request.auth.uid == userId
        allow write: if false
    }
    match /shop_requests/{requestId}/{documents=**} {
    	allow read: if request.auth.token.roles[resource.data.shopId] == "owner"
        allow create: if request.auth.token.roles[request.resource.data.shopId] == "owner"
        allow update, delete: if false
    }
    match /notifications/{token}/{documents=**} {
        allow get: if true
        allow list: if false
    	allow write: if false
    }
    match /notification_debug/{token}/{document=**} {
        allow read: if false
        allow write: if false
    }
    match /shop_members/{docId}/{document=**} {
        allow read: if false
        allow write: if false
    }
  }
}
